  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

.nav-container{
  height: 100px;
  width: 100%;
  background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: space-between;
align-items: center;
}


.logo-container{
    display: flex;
    align-items: center;
    
}
.logo-container img{
    height: 50px;
    width: 50px;
}
.logo-container p{
    font-size: 
}
.item-text
a{
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}
.follow-btn{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
width: 200px;
height: 50px;
padding: 17px 25px;
}
.title{
    color:#0B0223;
    font-size: 40px;
    padding-bottom: 0px;
}
.title-2{
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-des{
    width: 700px;
    height: 500px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding: 100px 100px;
    text-align: center;
}
.banner-des p{
    color: #534C64;
font-size: 20px;
text-transform: lowercase;
}
.banner-main{
    display: flex;
}
.banner{
    height: 100px;
    width: 50%
}
